.navbar {
  background-color: #696565;
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.1rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  background: linear-gradient(90deg, #0b2356, #0b0936);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}


.navLinks {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navLinks a {
  text-decoration: none;
  color: #020202;
  font-weight: 500;
  transition: color 0.2s;
}

.navLinks a:hover {
  color: #e7e8e8;
}

.navButton {
  padding: 0.5rem 1rem;
  border: 1px solid #00c853; 
  color: #00c853;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  background: #fff;
  font-size: 0.9rem;
}

.navButton:hover {
  background-color: #00c853;
  color: #fff;
}

.navButtonSecondary {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  color: #555;
  background: #fff;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.9rem;
}
.navButtonSecondary:hover {
  background-color: #f9f9f9;
}

.footer {
  text-align: center;
  padding: 2rem 0;
  margin-top: 3rem;
  background-color: #f9f9f9;
  border-top: 1px solid #e0e0e0;
  color: #777;
}